#html {
  margin: 0;
}

#body {
  margin: 0;
  padding: 0;
}

#title {
  color: #fff;
  background-color: #ff4c68;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.lalita-img {
  width: 300px;
  border-radius: 10%;
  border-style: double;
  border-width: 10px;
}
